body {
    background: #bf7a13;
    background: linear-gradient(170deg,rgba(191, 122, 19, 1) 0%, rgba(2, 0, 36, 1) 30%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
    color: whitesmoke;
}

@font-face {
    font-family: nasa;
    src: url(./polices/nasalization.ttf);
}

h1, h2, h3 {
    font-family: nasa;
}

@font-face {
    font-family: roboto;
    src: url(./polices/Roboto-VariableFont_wdth\,wght.ttf);
}

p, li {
    font-family: roboto;
}

header li, aside p {
    text-align: center;
}

header a {
    text-decoration: none;
}

h1 {
    margin-bottom: 0px;
}

header a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.organigramme img {
    width: 40%;
    border-radius: 50%;
}

main section {
    background-color: white;
    border: 1px solid gray;
    max-width : 70vw;
    margin: auto;
    margin-bottom: 20px;
    color : black;
}

header {
    background-color: white;
    border: 1px solid gray;
    max-width : 70vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0px 0px 0px 0px;
    gap: 50px;
    margin-bottom: 30px;
}

aside {
    background-color: white;
    border: 1px solid gray;
    max-width : 70vw;
    margin: auto;
    margin-bottom: 20px;
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: white;
    border: 1px solid gray;
    max-width : 70vw;
    margin: auto;
    margin-bottom: 20px;
    color : black;
}

@media (max-width: 390px) {
    header {
        max-width: 90%;
    }
    header ul {
        flex-direction: column;
        gap: 25px;
        padding: 0px 0px 0px 0px;
    }
    aside {
        max-width: 90%;
    }
    aside img {
        width: 80%;
    }
    }


